
.spinner-container{
    perspective: 900px;
    transform-origin: 50% 50% -500px;
    transition: 1s
}

li{
    list-style: none;
    text-align: center;
    display: block;
}
.spinner{
    transform-style: preserve-3d;
    height: 500px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
    display: flex;
    justify-content: center;
}

.spinner-img{
    height: 400px;
    width: 450px;
    margin: 5%;
    position: absolute;
    transform-origin: 50% 50% -500px;
    outline: 2px solid;
}

.info-holder{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 20px;
    text-align: center;
}

.projects-links{
    margin-top: 5%;
}

.spinner-holder{
    display: flex;
    justify-content: center;
    padding: 2px 40px;
    margin-top: 40px;
}

.spinner img:nth-child(1){transform: rotateY(-0deg)}
.spinner img:nth-child(2){transform: rotateY(-60deg)}
.spinner img:nth-child(3){transform: rotateY(-120deg)}
.spinner img:nth-child(4){transform: rotateY(-180deg)}
.spinner img:nth-child(5){transform: rotateY(-240deg)}
.spinner img:nth-child(6){transform: rotateY(-300deg)}

.spinner-container ~ span{
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-block;
    font-size: 3rem;
    transition: 0.4s;
    margin: 5px
}

.spinner-container ~ span:hover{
    cursor: pointer;
}
